mark {
    background-color: #000;
    color: #fff;
}
.main_container {
    .about--content {
        padding: 10px 20px;
        height: 100%;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .about_div{
            text-align: center;
        }
    }
}