.projects_content{
    .project_item {
        .proyect_c{
            display: flex;
            width: 20em;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: baseline;
            justify-content: flex-start;
            align-content: center;  
            .picture {
                position: absolute;
                display: flex;
                right: 10px;
                top: 10px;
                gap: 5px;
                
                flex-direction: column;
                justify-content: center;
                align-items: baseline;
            }
        }
    }
}